{
  "build": {
    "maxReachDistance": 7,
    "maxBlockPlacePerAxis": 99,
    "maxBlockPlaceAtOnce": 1000,
    "canBreakFar": false,
    "enableUndo": true,
    "undoStackSize": 20
  },
  "preview": {
    "alwaysShowBlockPreview": false,
    "useShaders": true,
    "shaderThreshold": 10000,
    "shaderDissolveTimeMultiplier": 10
  }
}